.menu {
    color: white;
}

.description {
    font-size: 23px;
    padding-top :10px;
}
.navbar-wrapper .navbar .navbar-top {
    margin-top: 20px;
    margin-bottom: 0;
}
.navbar-wrapper .navbar {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar {
    border : 0;
}

.navbar .text-center h3 {
}

.navbar-brand .brand-logo img {
    width: 55px;
    height: 30px;
    margin-top: -15px;
    margin-left: 10px;
}

.navbar-custom {
    background-color: #086788;
}
.navbar-custom .navbar-collapse .nav :hover {
    background-color: #06AED5;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.page {
    height: 100%;
}
.video {
    width : 100%;
    height :315px;
    margin-top: 10px;
}
.text-color {
    color: white;
}
.filmBeerFont {
    font-size: 16px;
}
.font {
    font-size: 20px;
}
.projects .heading-size{
    font-size: 23px;
}
.footer {
    background-color: #000000;
    height: 50px;
    position: absolute;
    color: white;
    width: 100%;
    margin-top: 10px;
}


.carousal-image {
    height: 500px;
    width: 100%
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.events_image {
    width: 150px;
}
.icons {
    overflow: auto;
    padding-bottom: 5px;
    padding-top:5px;
}

.icons li {
    list-style-type: none;
    float: left;
}

.icons li a i {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}
.fa-facebook {
    background:#3b5998
}
.fa-instagram {
    background:#125688
}
.fa-twitter {
    background:#00aced
}
.fa-youtube {
    background:#bb0000
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}
.icons li a i:hover {
    opacity: .7
}

.about-banner-image {
    height : 400px;
    width : 100%;
}

.projects {
    margin-top: 10px;
}
.member-benefits {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eeeeee;
    border-radius: 5px;
}
.about-banner {
    position: relative;
    padding: 30px 15px;
    color: #FFF1D0;
}
